img {
  max-width: 100%;
  border: white;
  border-style: solid;
  border-width: 2px; }

img[src*='#aboutMe'] {
  float: right;
  width: 24em;
  height: 20 em;
  margin-left: 2em; }

img[src*='#resin'] {
  float: left;
  width: 24em;
  height: 20 em;
  margin-right: 2em; }

img[src*='#patient'] {
  float: left;
  width: 24em;
  height: 20 em;
  margin-right: 2em; }

img[src*='#robot'] {
  float: right;
  width: 20em;
  height: 20 em;
  margin-left: 2em; }

img[src*='island'] {
  float: right;
  width: 24em;
  height: 12 em;
  margin-left: 2em; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: linear-gradient(-45deg, black, #141414, black, #222222);
  background-size: 4000% 4000%;
  animation: gradient 500s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

header {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.5s ease-out 0s 1 slideInFromLeft; }

h1 {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.5s ease-out 0s 1 slideInFromLeft; }

h2 {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.5s ease-out 0s 1 slideInFromRight; }

p {
  hyphens: none;
  animation: 0.25s ease-out 0s 1 slideInFromRight; }

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%); }
  100% {
    transform: translateY(0); } }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(200%); }
  100% {
    transform: translateY(0); } }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

/*# sourceMappingURL=custom.css.map */