{{ partial "head/meta-tags.html" . }}

{{ if .Params.canonicalUrl }}
<link rel="canonical" href="{{ .Params.canonicalUrl }}">
{{ else }}
<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{ partialCached "head/theme-styles.html" . }}

{{ partialCached "head/color-scheme.html" . }}

{{ partialCached "head/custom-styles.html" . }}

{{ partialCached "head/custom-icons.html" . }}

{{ partial "head/alternative-output-formats.html" . }}

{{ if .IsHome }}{{ partial "head/hugo-generator.html" . }}{{ end }}

{{ partial "head/extensions.html" . }}

{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
{{- end }}

{{ range .Site.Params.custom_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}